<tr>
    <td>
        <%= f.input_field :destroy, as: :hidden %>
        <%= link_to 'Delete', '#', class: 'remove_record' %>
    </td>
    <td><%= f.text_field :title, label: false %></td>
    <td><%= f.text_area :body, label: false %></td>
</tr>