<% provide(:title, 'All Site Items') %>

<div class="page-header">
    <h1>All Site Items</h1>
</div>
<div class="col-md-12">

    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th class="text-center">Item Title</th>
            <th class="text-center">Template</th>
            <th class="text-center">Order</th>
            <th>Description</th>
            <th class="text-center">Group</th>
            <th class="text-center">Visible?</th>
            <th class="text-center">Date Created</th>
            <th class="text-center">Date Edited</th>
        </tr>
    <%= render @items %>
    </table>
</div>