<% provide(:title, "About") %>

<div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="page-header">
        <h1>About Us</h1>
    </div>

    <h3>Our Store - Our Story</h3>
    <p>Founded in 1996, and then again in 2008, our studio has been serving the community for just so many years now. Our owner always says, "If you have a face we have a camera!" Sure enough, that old addage applies to nearly half our customers.</p>
    <p>Over the past 12 years we've really started to get a hang for this whole photography thing. There's really a lot more to it than you would think!</p>
    <div class="dyk">
        <p>Did You Know:</p>
        <p>Modern cameras have over five parts! That's more than enough for me and Tom "<i>Ol' Splenda</i>" Macentire</p>
    </div>
</div>