<% provide(:title, "Contact") %>
<div class="page-header">
    <h1>Contact Us</h1>
</div>

<h3>Springfield Mall Location</h3>
<h4>Phone</h4>
<p>Office: (555) 151-6234</p>
<p>Fax: (555) 151-6238</p>

<h4>Hours</h4>
    <table id="hours_table" class="table table-condensed table-bordered table-striped">
        <tr>
            <th>Day</th>
            <th>Open</th>
            <th>Close</th>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>CLOSED</td>
            <td></td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>9:00am</td>
            <td>6:00pm</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>9:00am</td>
            <td>6:00pm</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>9:00am</td>
            <td>6:00pm</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>9:00am</td>
            <td>6:00pm</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>9:00am</td>
            <td>6:00pm</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>10:00am</td>
            <td>2:30pm</td>
        </tr>
    </table>

<h4>Location</h4>
<p>4815 Locke Blvd</p>
<p>Suite 108</p>
<p>Lorrimer City, NT</p>

<hr/>
<h3>Email</h3>
<p>Scheduling: <a href='mailto:Joseph.Baboeuf@studiodb.com'>Joseph Baboeuf</a></p>
<p>Print Manager: <a href='mailto:Thomas.Engels@studiodb.com'>Thomas Engels</a></p>
<p>Photography Manager: <a href='mailto:Arnold.Trotsky@studiodb.com'>Arnold Trotsky</a></p>