<div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="page-header">
        <h1>StudioDB Photo Studio</h1>
    </div>

    <div class="col-md-12">
        <h3>We TAKE Photos!</h3>
        <p>Here at StudioDB Photo Studio, we've been imposing joy and happiness on your faces for 12 years, and there's no stopping us now. While other studios might seek to generate inward joy first and hope it comes through in the final product, our approach is simpler. When you sit down with one of our IDF-trained photographers, we will tell you to adopt a bright and sunny expression exactly once, and you will comply. The difference with us is that we don't just take photos, <strong>we TAKE photos</strong>, and no one will stand in our way.</p>
        <p>It's our mission in life to extract only the most special, most memorable, and most genuine-seeming reactions and expressions from you and your extremely vulnerable family. And, while rumors of our tactics are slightly overblown, rest assured that the only ones intimidated by our results are our competitors and social subordinates. The truth is that not only will you appear to be a happier person in our portraits, but we'll be able to prove it in court by referring to the affidavit we had you sign.</p>
        <p>So call or swing by today and let us force you to appear happy!</p>
    </div>
</div>