<% provide(:title, 'Edit User') %>
<% provide(:button_text, 'Save Changes') %>

<div class="page-header">
    <h1>Update <%= @user.name %></h1>
    <% if user_admin? %>
        <%= link_to "<< All Users", users_path, class: "btn btn-default" %>
    <% end %>
</div>

<%= render 'form' %>