<% provide(:title, 'All Users') %>

<div class="page-header">
    <h1>All Users</h1>
</div>
<div class="col-md-12">
    <%= will_paginate @users %>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th class="text-center">User Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Admin</th>
            <th class="text-center">Date Created</th>
            <th class="text-center">Date Edited</th>
            <th class="text-center">View User</th>
            <th class="text-center">Edit User</th>
            <th class="text-center">Delete User</th>
        </tr>
    <%= render @users %>
    </table>
    <%= will_paginate @users %>
</div>
<hr>
<%= link_to "New User", signup_path, class: "btn btn-primary" %>