<% provide(:title, 'New User') %>
<% provide(:button_text, 'Create Account') %>

<div class="page-header col-sm-4 col-sm-offset-4 col-xs-12">
    <%= user_admin? ? tag.h1("Add User") : tag.h1("Sign Up!") %>
</div>

<%= render 'form' %>