<% # ITEM TEMPLATE %>

<div class="card_container" >

    <% item.articles.all.each do |art| %>
        <div class="card col-md-4 col-sm-12">
            <%= image_tag(art.image, alt: art.image.filename, class: "img-card") if art.image.attached? %>
            <%= content_tag(:h4, art.title, class: "heading text-center") %>
            <hr>
            <% paragraphs = art.body.split("\n") %>
            <% paragraphs.each do |paragraph| %>
                <%= content_tag(:p, paragraph, class: "article" ) %>
            <% end %>
        </div>
    <% end %>
</div>