<% # ITEM TEMPLATE %>

<div class="card-container" >

    <% item.articles.all.each do |art| %>
        <section class="card col-sm-4 col-xs-12">
            <%= image_tag(art.image, alt: art.image.filename, class: "card") if art.image.attached? %>
            <%= content_tag(:h4, art.title, class: "heading text-center") %>
            <hr>
            <% paragraphs = art.body.split("\n") %>
            <% paragraphs.each do |paragraph| %>
                <%= content_tag(:p, paragraph, class: "article" ) %>
            <% end %>
        </section>
    <% end %>
</div>