<% # ITEM TEMPLATE %>

<div class="card-container" >

    <% item.articles.all.each do |art| %>
        <section class="card">
            <div class="card-image-container">
                <%= image_tag(art.image, alt: art.image.filename, class: "card") if art.image.attached? %>
            </div>
            <%= content_tag(:h4, art.title, class: "heading text-center") %>
            <hr>
            <% paragraphs = art.body.split("\n") %>
            <% paragraphs.each do |paragraph| %>
                <% newpar = parse_markup(paragraph) %>
                <%= content_tag(:p, raw(newpar), class: "article" ) %>
            <% end %>
        </section>
    <% end %>
</div>