<%# ARTICLE TEMPLATE%>

<div class="col-md-6 col-sm-12">
    <%= content_tag(:h3, item.heading_1, class: "heading text-center") %>
    <% paragraphs = item.article_1.split("\n") %>
    <% paragraphs.each do |paragraph| %>
        <%= content_tag(:p, paragraph) %>
    <% end %>
</div>