<% provide(:title, 'All Galleries') %>

<div class="page-header">
    <h1>All Galleries</h1>
</div>
<div class="col-md-12">
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th class="text-center">Gallery Name</th>
            <th class="text-center">Images</th>
            <th class="text-center">Visible</th>
            <th class="text-center">Date Created</th>
            <th class="text-center">Date Edited</th>
            <th class="text-center">View Gallery</th>
            <th class="text-center">Edit Gallery</th>
            <th class="text-center">Delete Gallery</th>
        </tr>
    <%= render @galleries %>
    </table>
</div>
<hr/>
<%= link_to "New Gallery", new_gallery_path, class: "btn btn-primary" %>