@import "bootstrap-sprockets";
@import "bootstrap";



/* BODY */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding: 68px 0px 45px;
}

hr {
  margin-top: 0px;
  margin-bottom: 15px;
}



/* SIDEBAR */

.sidebar-sticky {
  padding: 5px 40px 15px;
  margin-top: -20px;
  margin-bottom: 15px;
  background: #f4f4f4;
}

@media only screen and (min-width: 992px) {
  .sidebar-sticky {
    padding: 10px 40px;
    position: fixed;
    height: 100%;
    width: 25%;
    margin-top: -16px;
    left: 0px;
    background: #f4f4f4;
  }
}





/* FOOTER */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 5px;

    p {
        color: #9d9d9d;
    }
}




/* BODY */

div.page-header {
  margin-top: 0px;
  margin-bottom: 15px;
}




/* TABLES */
    
#photoDB_table {
    width: 40%;
}

img.img-table {
  height: 40px;
  object-fit: cover;
  margin: 0 auto;
}

table.table {
  margin-bottom: 15px;
}




/* FLASH */

#flash {
    margin: 0px auto 15px;

}




/* FORMS */

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



/* Galleries */

img.img-gallery {
  width: 100%;
  object-fit: cover;
  height: 360px;
}

div.gallery-frame {
  padding: 0px;
  margin: 0px;
}

section.gallery-header {
  background: #ddd;
  margin: 0px auto 15px;
  padding: 10px 0px 30px;
  text-align: center;
}




/* direct_uploads.css */
 
.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}
 
.direct-upload--pending {
  opacity: 0.6;
}
 
.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}
 
.direct-upload--complete .direct-upload__progress {
  background: #dff0d8;
  opacity: 0.4;
}
 
.direct-upload--error {
  border-color: red;
  background: #f7d2d2;
}
 
input[type=file][data-direct-upload-url][disabled] {
  display: none;
}