<% # GALLERY TEMPLATE %>

<div>
    <div>
        <% item.images.each do |image| %>
            <div class="gallery-frame col-lg-3 col-md-4 col-sm-6 col-xs-12 filter hdpe">
                <%= link_to( image_tag(image, alt: image.filename, class: "gallery"), image, target: "_blank") %>
            </div>
        <% end %>
    </div>
</div>